* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color:silver;
}

.header {
    padding: 14px;
    background-image:url("./styles/");
    color:white;
    display: flex;
    align-items: center;
    justify-content:center;
    position: fixed;
    width:100%;
    z-index:11;
}

.header img {
    margin-left:90px;
    height: 80px;
    width:80px;
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:50px;
}

.header ul > li {
    margin-left: 30px;
    list-style: none;
    padding: 10px;
    CURSOR:pointer;
}

.header ul > li:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: linear 0.3s;
}

a {
    text-decoration: none;
    cursor: pointer;
    COLOR:WHITE;
}

.header button {
    background-color: rgb(15, 94, 185);
    color: white;
    text-align: center;
    border-radius: 30px;
    width: 100px;
    cursor: pointer;
}

.header button a {
    color: white;
    display: block;
    padding: 10px;
}

.header button:hover {
    background-color: rgba(255, 255, 255, 0.831);
    transition: linear 0.3s;
}

.dropdown {
    cursor: pointer;
    padding-left: 20px;
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0 10px;
}

.dropdown li:hover {
    background-color: rgba(255, 255, 255, 0.788);
    transition: linear;
    transition-duration: 0.3s;
}

.dropdown li {
    padding: 10px 10px 10px 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.774);
    z-index: 15;
    padding: 0;
    margin: 0;
    border: 1px solid #ccccccd7;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    margin: 0;
}

.dropdown-content ul li {
    list-style: none;
    width: 200px;
    padding: 10px;
    margin: 0;
    text-align: left;
}

.dropdown-content a {
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
}

.dropdown-content ul>li:hover {
    background-color: #ccccccdf;
}

.image-container{
    position:relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color:  rgb(238, 238, 238);;
}
.image-container img{
    width: 100%;
    filter: brightness(75%);
}
.welcome-text{
    position: absolute;
    top:45%;
    margin-left:150px;
    color: white;
    font-size: 40px;
    text-transform:capitalize;
}

